<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>广告</title>
<link href="libs/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="libs/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
<link href="public/styles/admin.css" rel="stylesheet">
<link href="public/styles/Tools.css" rel="stylesheet">
<link href="public/styles/page.css" rel="stylesheet">
<script src="libs/requireJS/require.js" data-main="public/scripts/admin" defer></script>
</head>
<body>
<!-- 修改广告 -->
{if $update}
<div class='row'>
	<div>
		<ul class="breadcrumb">
			<li><a href="?a=admin&m=welcome">后台首页</a></li>
			<li><a href="?a=ad&action=show">所有广告</a></li>
			<li class="active">修改广告</li>
		</ul>
	</div>
</div>
<div>
	<div class="col-md-12">
		<form action="" method="post" enctype='multipart/form-data'> 
		<table class="table table-bordered table-striped table-hpver">
			<tr>
			<input type="hidden" name="thumbnail2" value="{$oneAd->thumbnail}">
				<td class="text-right">广告类型</td>
				<td>
				<!-- //从adaction的update方法 -->
				<input type="radio" id="banner" name="type" value="1" {$banner}>	
				<label for="banner">banner广告</label>
				<input type="radio" id="slider" name="type" value="2" {$slider}>
				<label for="slider">slider广告</label>
				<input type="radio" id="fullcolumn" name="type" value="3" {$fullcolumn}>
				<label for="fullcolumn">fullcolumn广告</label>
				<input type="radio" id="sidebar" name="type" value="4" {$sidebar}>
				<label for="sidebar">sidebar广告</label>
				</td>
			</tr>
			<tr>
				<td class="text-right">广告标题</td>
				<td>
					<input type="text" class="form-control" name="title" value={$oneAd->title}>
				</td>
			</tr>
			<tr>
				<td class="text-right">广告链接</td>
				<td>
					<input type="text" class="form-control" name="link" value={$oneAd->link}>
				</td>
			</tr>
			<tr>
				<td class="text-right">广告描述</td>
				<td>
					<input type="text" class="form-control" name="description" value={$oneAd->description}>
				</td>
			</tr>
			<tr>
				<td class="text-right">广告图片</td>
				<td>
					<label for="pic" class="text-primary">上传图片</label>
					<input type="file" id="pic" name="thumbnail" style="display:none">
				</td>
			</tr>
			<tr>
				<td class="text-right">图像预览</td>
				<td>
					{if $oneAd->thumbnail}
					<img src="public/uploads/ad/{$oneAd->thumbnail}" width="150px" height="90px" class="img-circle" id="preview">
					{else}
					<img src="public/images/default.jpg" width="150px" height="90px" class="img-circle" id="preview">
					{/if}
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="submit" value="提 交" name="send" class="btn btn-success">
				</td>
			</tr>
		</table>
		</form>
	</div>
</div>
{/if}
<!-- 显示广告 -->
{if $show}
<div class='row'>
	<div>
		<ul class="breadcrumb">
			<li><a href="?a=admin&m=welcome">后台首页</a></li>
			<li class="active">所有广告</li>
			<li><a href="?a=ad&action=add">添加广告</a></li>
		</ul>
	</div>
</div>
<div class='row'>
	<div class="col-md-12 main" style="margin: 0 0 0 1%;">
		<form action="" method="post"> 
		<table class="table table-bordered table-striped table-hover">
			<tr>
				<td>广告编号</td>
				<td>广告标题</td>
				<td>广告链接</td>
				<td>广告缩略图</td>
				<td>广告描述</td>
				<td>广告类型</td>
				<td>广告状态</td>
				<td>创建时间</td>
				<td>操作</td>
				<td><input type="checkbox" id="choiceAll">全选/反选</td>
			</tr>
			{if $data}
			{foreach $data as $k=>$v}
				<tr>
					<td>{$k}</td>
					<td>{$v->title}</td>
					<td>{$v->link}</td>
					<td>{$v->thumbnail}</td>
					<td>{$v->description}</td>
					<td>{$v->type}</td>
					<td>{$v->state}</td>
					<td>{$v->date}</td>
					<td>
						<a href="?a=ad&action=update&id={$v->id}"><img src="public/images/user_edit.png"></a> /
						<a href="?a=ad&action=delete&id={$v->id}"><img src="public/images/trash.png"></a>
					</td>
					<!-- 为数组形式 -->
					<td><input type="checkbox" name="getAll[]" value="{$v->id}"></td>	
				</tr>
			{/foreach}
				<tr>
					<td colspan="10" class="text-right">
					<!--<a href="?a=ad&action=add" class="btn btn-primary">添加广告</a>-->
					<input type="submit"  name="delete" class="btn btn-danger" value="清除选中" >
					</td>
				</tr>
			{else}
			<tr>
				<td colspan="10" class="text-center">暂无数据</td>
			</tr>
			{/if}
			<tr></tr>
			<tr></tr>
			<tr></tr>
		</table>
		</form>
	</div>	
</div>

<div class='row'>
<!-- 分页显示 -->
<div class='page col-md-6 text-right'>{$page}</div>
<!-- 广告类型进行分类显示 -->
	<div class="col-md-6 text-left" style="border:1px solid white;padding: 0 0 0 0">
		<form action="#" method="get">
			<input type="hidden" name="a" value="ad">
			<input type="hidden" name="action" value="show">
			<select name="kind" class="input-sm">
				<option value=0 {$all}>所有广告</option>
				<option value=1 {$banner}>banner广告</option>
				<option value=2 {$slider}>slider广告</option>
				<option value=3 {$fullcolumn}>fullcolumn广告</option>
				<option value=4 {$sidebar}>sidebar广告</option>
			</select>
			<input class="btn btn-success" type="submit" name="send" value="提交">
		</form>
	</div>
	
</div>

{/if}

<!-- 添加广告 -->
{if $add}
<div class='row'>
	<div>
		<ul class="breadcrumb">
			<li><a href="?a=admin&m=welcome">后台首页</a></li>
			<li><a href="?a=ad&action=show">所有广告</a></li>
			<li class="active">添加广告</li>
		</ul>
	</div>
</div>
<div>
	<div class="col-md-12">
		<form action="" method="post" enctype='multipart/form-data'> 
		<table class="table table-bordered table-striped table-hpver">
			<tr>
				<td class="text-right">广告类型</td>
				<td>
				<input type="radio" id="banner" name="type" value="1">
				<label for="banner">banner广告</label>
				<input type="radio" id="slider" name="type" value="2">
				<label for="slider">slider广告</label>
				<input type="radio" id="fullcolumn" name="type" value="3">
				<label for="fullcolumn">fullcolumn广告</label>
				<input type="radio" id="sidebar" name="type" value="4">
				<label for="sidebar">sidebar广告</label>
				</td>
			</tr>
			<tr>
				<td class="text-right">广告标题</td>
				<td>
					<input type="text" class="form-control" name="title">
				</td>
			</tr>
			<tr>
				<td class="text-right">广告链接</td>
				<td>
					<input type="text" class="form-control" name="link">
				</td>
			</tr>
			<tr>
				<td class="text-right">广告描述</td>
				<td>
					<input type="text" class="form-control" name="description">
				</td>
			</tr>
			<tr>
				<td class="text-right">广告图片</td>
				<td>
					<label for="pic" class="text-primary">上传图片</label>
					<input type="file" id="pic" name="thumbnail" style="display:none">
				</td>
			</tr>
			<tr>
				<td class="text-right">图像预览</td>
				<td>
					<img src="public/images/default.jpg" width="150px" height="90px" class="img-circle" id="preview">
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="submit" value="提 交" name="send" class="btn btn-success">
				</td>
			</tr>
		</table>
		</form>
	</div>
</div>

{/if}
</body>
</html>