<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>管理员管理</title>
<link href="{$ROOT}/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="{$ROOT}/vendor/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
<link href="{$ROOT}/vendor/fontawesome/styles/font-awesome.css" rel="stylesheet">
<script src="{$ROOT}/vendor/jquery/jquery-3.1.1.js"></script>
<script src="{$ROOT}/vendor/bootstrap/js/bootstrap.js"></script>
<script src="{$ROOT}/public/scripts/admin.js"></script>
<script src="{$ROOT}/public/scripts/redirect.js"></script>
<link href="{$ROOT}/public/styles/admin.css" rel="stylesheet">
<script src="{$ROOT}/public/scripts/learning.js"></script>
<link href="{$ROOT}/public/styles/learning.css" rel="stylesheet">
<link href="{$ROOT}/public/styles/page.css" rel="stylesheet">
<script src="{$ROOT}/public/scripts/preview.js"></script>
<script src="{$ROOT}/public/scripts/administrator.js"></script>
</head>
<body>
{include file="admin/common.html"}
{if $show}
<div class="row">
	<div class="col-md-12">
		<ul class="breadcrumb">
			<li><a href='/admin/welcome' target="main">后台首页</a></li>
			<li><a href='/administrator/show'>管理员管理</a></li>
			<li class="active">显示管理员</li>
			<li><a href="/administrator/add" title='添加管理员'><i class="fa fa-plus-circle"></i></a></li>
		</ul>
		<table class="table table-bordered table-striped table-hover table-condensed">
		<form action="" method="post">
		<tr>
			<td>名称</td>
			<td>等级</td>
			<td>登录次数</td>
			<td>登录IP</td>
			<td>登录时间</td>
			<td>操作</td>
			<td><input type="checkbox" id="selectBar">全选</td>
		</tr>
		{if $data}
		{foreach $data as $key=>$value}
		<tr>
			<td>{$value->username}</td>
			<td>{$value->level_id}</td>
			<td>{$value->login_num}</td>
			<td>{$value->last_ip}</td>
			<td>{$value->last_time}</td>
			<td><a href="/administrator/update/id/{$value->id}">修改</a>|<a href="/administrator/delete/id/{$value->id}" class="deleteBtn">删除</a></td>
			<td><input type="checkbox" value="{$value->id}" name="selectAll[]"></td>
		</tr>
		{/foreach}
		<tr>
			<td colspan="8"><input type="submit" value="全删" class="btn btn-success pull-right" name="send"></td>
		</tr>
		{else}
		<tr><td colspan="8">暂无数据</td></tr>
		{/if}
		</form>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-12 text-center page">
	<form method="get" style="display:inline">
		<input type="hidden" name="administrator" value="show">
		<select name="level" class="input-sm">
			<option value="0" {$all}>所有等级</option>
			{$level}
		</select>
		<input type="submit" name="send" value="提交" class="btn btn-success">
	</form>
	{$page}
	</div>
</div>
{/if}
{if $update}
	<div class="row">
		<div class="col-md-12">
		<ul class="breadcrumb">
					<li><a href='?a=index&action=welcome' target="main">后台首页</a></li>
					<li><a href='?a=admin&action=show'>广告管理</a></li>
					<li class="active">显示广告</li>
					<li><a href="?a=admin&action=add" title='添加广告'><i class="fa fa-plus-circle"></i></a></li>
		</ul>
		<table class="table table-bordered table-striped table-hover table-condensed">
			<form action="" method="post">
			<input type="hidden" name="id" value="{$oneAdmin->id}">
			<input type="hidden" name="pwd2" value="{$oneAdmin->pwd}">
			<tr><td class="text-right">管理员名</td><td><input type="text" name="username" class="form-control" value="{$oneAdmin->username}"></td></tr>
			<tr><td class="text-right">管理员密码</td><td><input type="password" name="pwd" class="form-control" value="{$oneAdmin->pwd}"></td></tr>
			<tr>
				<td class="text-right">管理员等级</td>
				<td>
					<select class="input-sm" name="level">
					<option>选择等级</option>
					{$level}
					</select>
				</td>
			</tr>
			<tr class="text-center"><td colspan="2"><input type="submit" value="提交" class="btn btn-success" name="send"></td></tr>
			</form>
		</table>
		</div>
	</div>
	{/if}
	{if $add}
	<div class="row">
		<div class="col-md-12">
		<ul class="breadcrumb">
					<li><a href='/admin/welcome' target="main">后台首页</a></li>
					<li><a href='/administrator/show'>管理员管理</a></li>
					<li class="active">显示管理员</li>
					<li><a href="/administrator/add" title='添加管理员'><i class="fa fa-plus-circle"></i></a></li>
		</ul>
		<table class="table table-bordered table-striped table-hover table-condensed">
			<form action="" method="post">
			<tr><td class="text-right">管理员名</td><td><input type="text" name="username" class="form-control"></td></tr>
			<tr><td class="text-right">管理员密码</td><td><input type="password" name="pwd" class="form-control"></td></tr>
			<tr>
				<td class="text-right">管理员等级</td>
				<td>
					<select class="input-sm" id="level" name="level">
					<option>选择等级</option>
					{$level}
					</select>
				</td>
			</tr>
			<tr class="text-center"><td colspan="2"><input type="submit" value="提交" class="btn btn-success administratorBtn" name="send"></td></tr>
			</form>
		</table>
		</div>
	</div>
	{/if}
</body>
</html>