<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台首页</title>
    <link href="{$ROOT}/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="{$ROOT}/vendor/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
	<script src="{$ROOT}/vendor/jquery/jquery-3.1.1.js"></script>
	<script src="{$ROOT}/vendor/bootstrap/js/bootstrap.js"></script>
	<link href="{$ROOT}/public/styles/admin.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    
</div>
</body>
</html>