<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章</title>
    <link href="{$ROOT}/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="{$ROOT}/vendor/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
	<script src="{$ROOT}/vendor/jquery/jquery-3.1.1.js"></script>
	<script src="{$ROOT}/vendor/bootstrap/js/bootstrap.js"></script>
	<script src="public/scripts/admin.js"></script>
	<script src="{$ROOT}/public/scripts/redirect.js"></script>
	<script src="{$ROOT}/public/scripts/download.js"></script>
	<script src="{$ROOT}/public/scripts/preview.js"></script>
	<link href="{$ROOT}/public/styles/admin.css" rel="stylesheet">
	<link href="{$ROOT}/public/styles/page.css" rel="stylesheet">
</head>
<body>
<!--编辑文章-->
{if $update}
<div class='row'>
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a href="/admin/welcome">后台首页</a></li>
            <li><a href="/article/show">文章导航</a></li>
            <li class="active">文章修改</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form action="" method="post" enctype="multipart/form-data">
            <table class="table table-bordered table-striped table-hover">
                <tr>
                    <input type="text" name="thumbnail2" style="display: none;" value="{$oneArticle->thumbnail}">
                    <td class="text-right" width=100>文章栏目</td>
                    <td>
                        <select name="nid" class="form-control input-sm" style="width: 13%;">
                            {$nav}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">文章属性</td>
                    <td>
                        <input id='headline' type="checkbox" name="attr[]" value="1" {$headline}>
                        <label for="headline">头条</label>
                        <input id='recommend' type="checkbox" name="attr[]" value="2" {$recommend}>
                        <label for='recommend'>推荐</label>
                        <input id='topic' type="checkbox" name="attr[]" value="3" {$topic}>
                        <label for='topic'>专题</label>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">文章标题</td>
                    <td><input type="text" name="title" value="{$oneArticle->title}" class="form-control"></td>
                </tr>
                <tr>
                    <td class="text-right">文章作者</td>
                    <td><input type="text" name="author" value="{$oneArticle->author}" class="form-control"></td>
                </tr>
                <tr>
                    <td class="text-right">文章来源</td>
                    <td><input type="text" name="source" value="{$oneArticle->source}" class="form-control"></td>
                </tr>
                <tr>
                    <td class="text-right">Tag</td>
                    <td><input type="text" name="tag" value="{$oneArticle->tag}" class="form-control"></td>
                </tr>
                <tr>
                    <td class="text-right">缩略图</td>
                    <td><input type="file" id="pic" name="thumbnail"></td>
                </tr>
                <tr>
                    <td class="text-right">缩略图预览</td>
                    <td>
                        {if $oneArticle->thumbnail}
                        <img src="{$ROOT}/public/uploads/article/{$oneArticle->thumbnail}" id="preview" width="150px" height="90px" class="img-circle">
                        {else}
                        <img src="{$ROOT}/public/uploads/article/default.jpg" id="preview" width="150px" height="90px" class="img-circle">
                        {/if}
                    </td>
                </tr>
                <tr>
                    <td class="text-right">导语</td>
                    <td><textarea type="text" name="lead" class="form-control">{$oneArticle->lead}</textarea></td>
                </tr>
                <tr>
                    <td class="text-right">文章</td>
                    <td width=600>
                        <!--<textarea name="content"></textarea>-->
                        <script id="commentEditor" name="content" style="width:100%">{$oneArticle->content}</script>
                        
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="send" value="提 交" class="btn btn-success"></td>
                </tr>
            </table>
        </form>
    </div>
</div>
{/if}
<!--显示文章-->
{if $show}
<div class='row'>
    <div class="col-md-12" style="margin: 0;">
        <ul class="breadcrumb">
            <li><a href="/admin/welcome">后台首页</a></li>
            <li><a href="/article/add" title='添加文章'><i class="glyphicon glyphicon-plus"></i></a></li>
            <li class="active">文章导航</li>
        </ul>
    </div>
</div>
<div class='row'>
    <div class="col-md-12 main">
        <form action="" method="post">
            <table class="table table-bordered table-hover table-striped">
                <tr>
                    <td>名称</td>
                    <td>属性</td>
                    <td>栏目</td>
                    <td>tag</td>
                    <td>作者</td>
                    <td>来源</td>
                    <td>状态</td>
                    <td>导语</td>
                    <td>内容</td>
                    <td>操作</td>
                    <td><input type="checkbox" id="choiceAll">单选/反选</td>
                </tr>
                {if $data}
                {foreach $data as $key=>$value}
                <tr>
                    <td>{$value->title|truncate:"10":"..."}</td>
                    <td>{$value->attr}</td>
                    <td>{$value->nid}</td>
                    <td>{$value->tag}</td>
                    <td>{$value->author}</td>
                    <td>{$value->source}</td>
                    <td>{$value->state}</td>
                    <td>{$value->lead|truncate:"10":"..."}</td>
                    <td>{$value->content|truncate:"4":"..."}</td>          <!--$str|truncate:"":"..."-->
                    <td>
                        <a href="/article/update/id/{$value->id}">修改</a>
                          /
                        <a href="/article/delete/id/{$value->id}">删除</a>
                    </td>
                    <td><input type="checkbox" name="getAll[]" value="{$value->id}"></td>
                </tr>
                {/foreach}
                <tr>
                    <td colspan="12" class="text-right">
                        <!--<a href="?a=ad&action=add" class="btn btn-primary">添加广告</a>-->
                        <input type="submit"  name="delete" class="btn btn-danger" value="清除选中" >
                    </td>
                </tr>
                {else}
                <tr><td colspan="12" class="text-center">暂无数据</td></tr>
                {/if}
            </table>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <div class="page">{$page}</div>
    </div>
</div>
{/if}

<!--添加文章-->
{if $add}
<div class='row'>
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a href="/admin/welcome">后台首页</a></li>
            <li><a href="/article/show">文章导航</a></li>
            <li class="active">添加文章</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form action="" method="post" enctype="multipart/form-data">
        <table class="table table-bordered table-striped table-hover">
            <tr>
                <td class="text-right">文章栏目</td>
                <td>
                    <select name="nid" class="form-control input-sm" style="width: 23%;">
                        <option value="">必须选择一个栏目</option>
                        {$nav}
                    </select>
                </td>
            </tr>
            <tr>
                <td class="text-right">文章属性</td>
                <td>
                    <input type="checkbox" name="attr[]" value="1">
                    <label>头条</label>
                    <input type="checkbox" name="attr[]" value="2">
                    <label>推荐</label>
                    <input type="checkbox" name="attr[]" value="3">
                    <label>热门</label>
                </td>
            </tr>
            <tr>
                <td class="text-right">文章标题</td>
                <td><input type="text" name="title" class="form-control"></td>
            </tr>
            <tr>
                <td class="text-right">文章作者</td>
                <td><input type="text" name="author" class="form-control"></td>
            </tr>
            <tr>
                <td class="text-right">文章来源</td>
                <td><input type="text" name="source" class="form-control"></td>
            </tr>
            <tr>
                <td class="text-right">Tag</td>
                <td><input type="text" name="tag" class="form-control"></td>
            </tr>
            <tr>
                <td class="text-right">缩略图</td>
                <td><input type="file" id="pic" name="thumbnail"></td>
            </tr>
            <tr>
                <td class="text-right">缩略图预览</td>
                <td><img src="{$ROOT}/public/images/default.jpg" width="150px" height="90px" class="img-circle" alt="" id="preview" ></td>
            </tr>
            <tr>
                <td class="text-right">导语</td>
                <td><textarea name="lead" class="form-control"></textarea>
            </tr>
            <tr>
                <td class="text-right">文章</td>
                <td width=900>
                    <!--<textarea name="content"></textarea>-->
                    <script id="commentEditor" name="content" style="width:100%"></script>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="send" value="提 交" class="btn btn-success"></td>
            </tr>
        </table>
        </form>
    </div>
</div>
{/if}
<script src="{$ROOT}/vendor/ueditor/ueditor.config.js"></script>
<script src="{$ROOT}/vendor/ueditor/ueditor.all.js"></script>
<script>
	var ue=UE.getEditor("commentEditor");
</script>
</body>
</html>