<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>评论管理</title>
<link href="public/styles/bootstrap.css" rel="stylesheet">
<link href="public/styles/normalize.css" rel="stylesheet">
<link href="public/styles/font-awesome.css" rel="stylesheet">
<script src="public/scripts/jquery-1.10.2.js"></script>
<script src="public/scripts/bootstrap.js"></script>
<script src="public/scripts/admin.js"></script>
<script src="public/scripts/tools.js"></script>
<link href="public/styles/admin.css" rel="stylesheet">
</head>
<body>
<!--modal模态框开始  -->
<div class="confirm modal-content" id="myModal" aria-labelledby='myModalLabel' aria-hidden='true'>
				<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true" id="confirmCloseBtn"></span><span class="rs-only"></span>
				</button>
				<h4 class="modal-title" id="myModalLabel">确定要删除吗</h4>
			</div>
			<div class="modal-body body">
				<span class="text-danger h4">删除是不可逆的，确定要删除吗？</span>
			</div>
			<div class="modal-footer">
				<a href="" type="button" class="btn btn-success" id="true">确定</a>
				<a href="" type="button" class="btn btn-danger" data-dismiss="modal" id="falseBtn">取消</a>
			</div>
</div>
<!--modal模态框结束  -->
	{if $show}
	<div class="row">
		<div class="col-md-12">
			<ul class="breadcrumb">
				<li><a href='?a=index&action=welcome' target="main">后台首页</a></li>
				<li><a href='?a=comment&action=show'>评论管理</a></li>
				<li class="active">显示评论</li>
			</ul>
		<table class="table table-bordered table-striped table-hover table-condensed">
			<form action="?a=comment&action=deleteAll" method="post">
				<tr>
					<td>编号</td>
					<td>文章名</td>
					<td>评论者</td>
					<td>内容</td>
					<td>审批</td>
					<td>评论时间</td>
					<td>操作</td>
					<td><input type="checkbox" id="selectBar">全选</td>
				</tr>
				{if $data}
				{foreach $data as $key=>$value}
				<tr>
					<td>{$key+$num}</td>
					<td>{$value->title}</td>
					<td>{$value->username}</td>
					<td>{$value->content}</td>
					<td>{$value->state}</td>
					<td>{$value->date}</td>
					<td><a href="?a=comment&action=delete&id={$value->id}" class="deleteBtn">删除</a></td>
					<td><input type="checkbox" value="{$value->id}" name="selectAll[]"></td>
				</tr>
				{/foreach}
				<tr>
					<td colspan="8"><input type="submit" value="全删" class="btn btn-success pull-right" name="send"></td>
				</tr>
				{else}
				<tr><td colspan="8">暂无评论</td></tr>
				{/if}
			</form>
			</table>
		</div>
	</div>
	<div class="row text-center"><dlv class="col-md-12">{$page}</dlv></div>
	{/if}
</body>
</html>