<!--modal消息模态框开始  -->
<!--modal模态框开始  -->
<div class="modal-content" id="msgModal"
	aria-labelledby='myModalLabel' aria-hidden='true'>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">
			<span aria-hidden="true" id="confirmCloseBtn"></span><span
				class="rs-only"></span>
		</button>
		<h4 class="modal-title" id="myModalLabel">警告信息</h4>
	</div>
	<div class="modal-body" style="padding:0;padding-left:15px;">
		<span class="text-danger h4 content"></span>
	</div>
	<div class="modal-footer">
		<a href="" type="button" class="btn btn-success" id="yes">确定</a> 
		<a href="" type="button" class="btn btn-danger" data-dismiss="modal"
			id="no">取消</a>
	</div>
</div>
<!--modal模态框开始  -->
<div class="confirm modal-content" id="myModal"
	aria-labelledby='myModalLabel' aria-hidden='true'>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">
			<span aria-hidden="true" id="confirmCloseBtn"></span><span
				class="rs-only"></span>
		</button>
		<h4 class="modal-title" id="myModalLabel">确定要删除吗</h4>
	</div>
	<div class="modal-body">
		<span class="text-danger h4">删除是不可逆的，确定要删除吗？</span>
	</div>
	<div class="modal-footer">
		<a href="" type="button" class="btn btn-success" id="true">确定</a> <a
			href="" type="button" class="btn btn-danger" data-dismiss="modal"
			id="falseBtn">取消</a>
	</div>
</div>
<!--modal模态框结束  -->