<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>字典管理</title>
<link href="{$ROOT}/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="{$ROOT}/vendor/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
<link href="{$ROOT}/vendor/fontawesome/styles/font-awesome.css" rel="stylesheet">
<script src="{$ROOT}/vendor/jquery/jquery-3.1.1.js"></script>
<script src="{$ROOT}/vendor/bootstrap/js/bootstrap.js"></script>
<script src="{$ROOT}/public/scripts/admin.js"></script>
<script src="{$ROOT}/public/scripts/redirect.js"></script>
<link href="{$ROOT}/public/styles/admin.css" rel="stylesheet">
<link href="{$ROOT}/public/styles/page.css" rel="stylesheet">
</head>
<body>
{include file="admin/common.html"}
{if $keyword}
	<div class="row">
		<div class="col-xs-12">
		<form method="post" action="?a=dict&action=search">
			<ul class="breadcumb">
					<!-- <li><a href='?a=index&action=welcome' target="main">后台首页</a></li>
					<li><a href='?a=dict&action=admin'>字典管理</a></li>
					<li class="active">显示词条</li>
					<li><a href="?a=dict&action=add" title='添加词条'><i class="fa fa-plus-circle"></i></a></li> -->
					<li>
					<input type="text" class="search" name="keyword">
					<input type="submit" value="查询" name="send">
					</li>
				</ul>
				</form>
		</div>
		</div>
		<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered table-striped table-hover table-condensed">
				<tr>
					<td>标题</td>
					<td>音标</td>
					<td>图片</td>
					<td>释义</td>
					<td>示例</td>
					<td>分类</td>
					<td>贡献者</td>
					<td>操作</td>
				</tr>
				<tr>
					<td>{$keyword->wordname}</td>
					<td>{$keyword->phonetic}</td>
					<td>{$keyword->pic}</td>
					<td title="{$keyword->paraphrase}">{$keyword->paraphrase|truncate:"10":"..."}</td>
					<td title="{$keyword->example}">{$keyword->example|truncate:"10":"..."}</td>
					<td>{$keyword->catalogue}</td>
					<td>{$keyword->provider}</td>
					<td>
						<a href="?a=dict&action=update&id={$keyword->id}">修改</a>
						<a href="?a=dict&action=delete&id={$keyword->id}" class="deleteBtn" info="">删除</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
{/if}
{if $admin}
	<div class="row">
		<div class="col-xs-12">
		<form method="post" action="?a=dict&action=search">
			<ul class="breadcrumb">
					<li><a href='/amdin/welcome' target="main">后台首页</a></li>
					<li><a href='/dict/admin'>字典管理</a></li>
					<li><a href='/dict/reportAdmin'>用户提交新词管理</a></li>
					<li class="active">显示词条</li>
					<li><a href="/dict/add" title='添加词条'><i class="fa fa-plus-circle"></i></a></li>
					<li>
					<input type="text" class="search" name="keyword">
					<input type="submit" value="查询" name="send">
					</li>
				</ul>
				</form>
			<table class="table table-bordered table-striped table-hover table-condensed">
			<form action="" method="post">
				<tr>
					<td>标题</td>
					<td>音标</td>
					<td>图片</td>
					<td>释义</td>
					<td>示例</td>
					<td>分类</td>
					<td>贡献者</td>
					<td>描述</td>
					<td width=80>显示|隐藏</td>
					<td width=80>操作</td>
					<td><input type="checkbox" id="selectBar">全选</td>
				</tr>
				{if $AllEntry}
				{foreach $AllEntry as $key=>$value}
				<tr>
					<td>{$value->wordname}</td>
					<td>{$value->phonetic}</td>
					<td>{$value->pic}</td>
					<td title="{$value->paraphrase}">{$value->paraphrase|truncate:"10":"..."}</td>
					<td title="{$value->example}">{$value->example|truncate:"10":"..."}</td>
					<td>{$value->catalogue}</td>
					<td>{$value->provider}</td>
					<td>{$value->state}</td>
					<td>{$value->description}</td>
					<td>
						<a href="/dict/update/id/{$value->id}">修改</a>
						<a href="/dict/delete/id/{$value->id}" class="deleteBtn" info="">删除</a>
					</td>
					<td><input type="checkbox" value="{$value->id}" name="selectAll[]"></td>
				</tr>
				{/foreach}
				<tr>
					<td colspan="12"><input type="submit" value="全删" class="btn btn-success pull-right" name="send"></td>
				</tr>
				{else}
				<tr><td colspan="7">暂无数据</td></tr>
				{/if}
			</form>
			</table>
		</div>
	</div>
	<div class="row">
			<div class="col-md-12 text-center page">
			{$page}
			</div>
	</div>
{/if}
{if $reportAdmin}
	<div class="row">
		<div class="col-xs-12">
		<form method="post" action="?a=dict&action=search">
			<ul class="breadcrumb">
					<li><a href='/admin/welcome' target="main">后台首页</a></li>
					<li><a href='/dict/admin'>字典管理</a></li>
					<li class="active">显示词条</li>
					<li><a href="/dict/add" title='添加词条'><i class="fa fa-plus-circle"></i></a></li>
					<li>
					<input type="text" class="search" name="keyword">
					<input type="submit" value="查询" name="send">
					</li>
				</ul>
				</form>
			<table class="table table-bordered table-striped table-hover table-condensed">
			<form action="/dict/deleteAll" method="post">
				<tr>
					<td>用户名</td>
					<td>联系方式</td>
					<td>提交新词</td>
					<td>提交时间</td>
					<td width=80>显示|隐藏</td>
					<td><input type="checkbox" id="selectBar">全选</td>
				</tr>
				{if $AllReportWords}
				{foreach $AllReportWords as $key=>$value}
				<tr>
					<td>{$value->provider}</td>
					<td title="{$value->contact}">{$value->contact|truncate:"10":"..."}</td>
					<td>{$value->reportWord}</td>
					<td>{$value->reportTime}</td>
					<td width=130>{$value->state}</td>
					<td><input type="checkbox" value="{$value->id}" name="selectAll[]"></td>
				</tr>
				{/foreach}
				<tr>
					<td colspan="12"><input type="submit" value="全删" class="btn btn-success pull-right" name="send"></td>
				</tr>
				{else}
				<tr><td colspan="7">暂无广告</td></tr>
				{/if}
			</form>
			</table>
		</div>
	</div>
	<div class="row">
			<div class="col-md-12 text-center page">{$page}</div>
	</div>
{/if}
{if $add}
<div class="row">
	<div class="col-md-12">
		<ul class="breadcrumb">
			<li><a href='/admin/welcome' target="main">后台首页</a></li>
			<li><a href='/dict/admin'>词条管理</a></li>
			<li class="active">添加词条</li>
		</ul>
		<form method="post" enctype="multipart/form-data">
		<table class="table table-bordered table-striped table-hover table-condensed">				
				<tr class="text-center"><td colspan="2" id="feedback"></td></tr>
				<tr>
					<td class="text-right">所属的类型</td>
					<td>
					<select name="catalogue" class="form-control" style="width:120px;">
					{$catalogue}
					</select>
					</td>
					<!-- <td width=150>
						<select name="vid" class="form-control input-sm inline-block" id="nav" style="width:160px;">
						<option value="0">选择词条的类型</option>
						 {$nav}
						</select>(<span class="glyphicon glyphicon-asterisk text-alert"></span>)
					</td> -->
				</tr>
				<tr>
					<td class="text-right">单词</td><td><input type="text" name="wordname" class="form-control"></td>
				</tr>
				<tr>
					<td class="text-right">音标</td>
					<td class="text-right">
						<input type="text" name="phonetic" class="form-control">
					</td>
					<!-- <td>
						<input type="checkbox" value="headline" name="attr[]">头条
						<input type="checkbox" value="recommend" name="attr[]">推荐
						breaking news 
						<input type="checkbox" value="focus" name="attr[]">焦点
						<input type="checkbox" value="topic" name="attr[]" disabled>专题
						<input type="checkbox" value="pickup" name="attr[]" disabled>精选
					</td> -->
				</tr>
				<tr>
					<td class="text-right">示例图</td>
					<td class="reg">
						<img src="{$ROOT}/public/uploads/dict/default.jpg" class="img-circle" style="width:80px;height:80px;">					
						<input type="file" name="pic" class="form-control" id="pic" accept="image/*" style="display:none">
						<label for="pic">太丑了，换一张</label>
					</td>
				</tr>	
				<tr>
					<td class="text-right" style="width:100px;">释义</td>
					<td>
						<!-- <textarea rows="" cols="" name="content" id="content" ></textarea> -->
						<script id="editor" type="text/plain" style="width:100%" name="paraphrase"></script>
					</td>
				</tr>			
				<tr>
					<td class="text-right">示例</td>
					<td>
						<!-- <textarea rows="" cols="" name="example" id="content" style="display:none;"></textarea> -->
						<script id="editor2" type="text/plain" style="width:100%" name="example"></script>
					</td>
				</tr>		
				<tr>
					<td class="text-right">提供者</td><td><input type="text" name="provider" class="form-control" value="admin"></td>
				</tr>
				<tr class="text-center"><td colspan="2"><input type="submit" value="提交" name="send" class="btn btn-success" id="submitBtn"></td></tr>
		</table>
		</form>
	</div>
</div>
{/if}
{if $update}
<div class="row">
	<div class="col-md-12">
		<ul class="breadcrumb">
			<li><a href='/admin/welcome' target="main">后台首页</a></li>
			<li><a href='/dict/admin'>词条管理</a></li>
			<li class="active">修改词条</li>
			<!-- <li><a href="?action=add" title='添加广告'><i class="fa fa-plus-circle"></i></a></li> -->
		</ul>
		<form method="post" enctype="multipart/form-data">
		<table class="table table-bordered table-striped table-hover table-condensed">				
				<tr class="text-center"><td colspan="2" id="feedback"></td></tr>
				<tr>
				<input type="hidden" name="id" value="{$oneEntry->id}">
					<td class="text-right">所属的类型</td>
					<td>
					<select name="catalogue" class="form-control" style="width:120px;">
					<option>选择类型</option>
					{$catalogue}
					</select>
					</td>
					<!-- <td width=150>
						<select name="vid" class="form-control input-sm inline-block" id="nav" style="width:160px;">
						<option value="0">选择词条的类型</option>
						 {$nav}
						</select>(<span class="glyphicon glyphicon-asterisk text-alert"></span>)
					</td> -->
				</tr>
				<tr>
					<td class="text-right">单词</td><td><input type="text" name="wordname" class="form-control" value="{$oneEntry->wordname}"></td>
				</tr>
				<tr>
					<td class="text-right">音标</td>
					<td class="text-right">
						<input type="text" name="phonetic" class="form-control" value="{$oneEntry->phonetic}">
					</td>
					<!-- <td>
						<input type="checkbox" value="headline" name="attr[]">头条
						<input type="checkbox" value="recommend" name="attr[]">推荐
						breaking news 
						<input type="checkbox" value="focus" name="attr[]">焦点
						<input type="checkbox" value="topic" name="attr[]" disabled>专题
						<input type="checkbox" value="pickup" name="attr[]" disabled>精选
					</td> -->
				</tr>
				<tr>
					<td class="text-right">示例图</td>
					<td class="reg">
						<img src="{$ROOT}/public/uploads/article/default.jpg" class="img-circle" style="width:80px;height:80px;">					
						<input type="file" name="pic" class="form-control" id="pic" accept="image/*" value="{$oneEntry->pic}">
						<label for='pic'>太丑了，换一张。</label>
					</td>
				</tr>	
				<tr>
					<td class="text-right" style="width:100px;">释义</td>
					<td>
						<!-- <textarea rows="" cols="" name="content" id="content" ></textarea> -->
						<script id="editor" type="text/plain" style="width:100%" name="paraphrase">{$oneEntry->paraphrase}</script>
					</td>
				</tr>			
				<tr>
					<td class="text-right">示例</td>
					<td>
						<!-- <textarea rows="" cols="" name="example" id="content" style="display:none;"></textarea> -->
						<script id="editor2" type="text/plain" style="width:100%" name="example">{$oneEntry->example}</script>
				</td>
				</tr>
				<tr>
					<td class="text-right">提供者</td><td><input type="text" name="provider" class="form-control" value="{$oneEntry->provider}"></td>
				</tr>
				<tr class="text-center"><td colspan="2"><input type="submit" value="提交" name="send" class="btn btn-success" id="submitBtn"></td></tr>
		</table>
		</form>
	</div>
</div>
{/if}
<script src="{$ROOT}/vendor/ueditor/ueditor.config.js"></script>
<script src="{$ROOT}/vendor/ueditor/ueditor.all.js"></script>
<script>
	var ue=UE.getEditor("editor");
	var ue2=UE.getEditor("editor2");
</script>
</body>
</html>