<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link href="{$ROOT}/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="{$ROOT}/vendor/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
		<script src="{$ROOT}/vendor/jquery/jquery-3.1.1.js"></script>
		<script src="{$ROOT}/vendor/bootstrap/js/bootstrap.js"></script>
		<script src="{$ROOT}/public/scripts/admin.js"></script>
		<link href="{$ROOT}/public/styles/admin.css" rel="stylesheet">
		<title>{$smarty.const.SITE_NAME}后台首页</title>
	</head>
	<body>
<div id="mask"></div>
		<div class="container">
			<div class="row top">
			<div class="col-md-1">
			<span class="glyphicon glyphicon-align-justify" id="fold"></span>
			</div>
				<div class="col-md-3 admin_logo">后台管理</div>
<div class="col-md-8 memberInfo">
					<dl>
<dd>
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="glyphicon glyphicon-user"></span>
    {$smarty.session.username}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
    <li><a href="#">{$smarty.session.admin->name}</a></li>
    <li role="separator" class="divider"></li>
	<li><a href="#">{$smarty.session.admin->login_num}次登录</a></li>
    <li role="separator" class="divider"></li>
	<li><a href="#">{$smarty.session.admin->last_time}</a></li>
	<li role="separator" class="divider"></li>
	<li><a href="#">IP:{$smarty.session.admin->last_ip}</a></li>
	<li role="separator" class="divider"></li>
    <li><a href="/admin/logout">注销</a></li>
  </ul>
</div>
</dd>
<dd><a href='index.php' target="_blank" class="home"><i class="glyphicon glyphicon-home" title="首页"></i></a></dd>
</dl>
</div>
			</div>
			<div class="row">
			<div class="col-md-12 main" >
				<div class="menu">
					<div class="panel-group" id="accordion">
			<div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title text-center"><a data-parent="#accordion" href="#collapseOne"><i class="fa fa-home adminFront"></i><a href='?a=index&action=welcome' target="main">后台首页</a></h4>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title text-center"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa fa-edit"></i> 内容管理</a></h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
        	<li><a href="/ad/show" target="main">广告管理</a></li>
        	<li><a href="/nav/showMainNav" target="main">导航管理</a></li>
        	<li><a href="/comment/adminShow" target="main">评论管理</a></li>
        	<li><a href="/article/show" target="main">文章管理</a></li> 
        	<li><a href="/dict/admin" target="main">字典管理</a></li> 
        		<li><a href="/message/show" target="main">信息管理</a></li> 
        	<li><a href="/feedback/admin" target="main">用户反馈</a></li>         	
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title text-center"><a data-toggle="collapse" data-parent="#accordion" href="#download"><i class="fa fa-download"></i> 下载管理</a></h4>
    </div>
    <div id="download" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
        	<li><a href="/download/topic" target="main">下载主题</a></li>
        	<li><a href="/download/content" target="main">下载内容</a></li>        	     	
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title text-center">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="fa fa-user"></i> 管理员管理</a></h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
        	<li><a href="/permission/show" target="main">权限管理</a></li>
        	<li><a href="/level/show" target="main">等级管理</a></li>
        	<li><a href="/admin/show" target="main">管理员管理</a></li>
        	<li><a href="/user/show" target="main">前台会员管理</a></li>
        </ul>
      </div>
    </div>
  </div>
    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title text-center">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><i class="glyphicon glyphicon-shopping-cart"></i> 商品管理</a></h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
        	<li><a href="/category/show" target="main">商品分类</a></li>
        	<li><a href="/product/Show" target="main">商品管理</a></li>
        	<li><a href="/order/show" target="main">订单管理</a></li>
        </ul>
      </div>
    </div>
  </div>
    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title text-center">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><i class="glyphicon glyphicon-time"></i> 学习管理</a></h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
        	<li><a href="/learning/showCourse" target="main">课程管理</a></li>
        	<li><a href="/learning/showChoice" target="main">选择题管理</a></li>
        	<li><a href="/learning/showJudge" target="main">判断题管理</a></li>
        	<li><a href="/learning/showExam" target="main">试卷管理</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title text-center">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><i class="fa fa-comments"></i> 问答管理</a></h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
        	<li><a href="/ask/show" target="main">问答管理</a></li>
        	<li><a href="/setting/backup" target="main">数据库备份</a></li>
        	<li><a href="#">待定配置</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title text-center">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix"><i class="glyphicon glyphicon-cog"></i> 系统管理</a></h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
        	<li><a href="/setting/config" target="main">网站配置</a></li>
        	<li><a href="/setting/backup" target="main">数据库备份</a></li>
        	<li><a href="#">待定配置</a></li>
        </ul>
      </div>
    </div>
  </div>
   <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title text-center">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven"><i class="fa fa-info-circle"></i> 网站帮助</a></h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
        	<li><a href="/readme/catalogoue" target="main">目录结构</a></li>
        	<li><a href="/readme/func" target="main">基本功能</a></li>
        	<li><a href="/readme/feature" target="main">KongCMS特色</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
				</div>
				<div class="rightFrame">
				<iframe src="/admin/welcome" name="main" scrolling="yes" id="mainFrame"></iframe>
				</div>
			</div>
			</div>
	<div class="row">
		<div class="col-md-12 footer">
			<dl>
				<dd>
				<a href="javascript:void(0)">关于我们</a> |
				<a href="javascript:void(0)">About WEBONLY</a> |
				<a href="javascript:void(0)">服务协议</a> |
				<a href="javascript:void(0)">隐私政策</a> |
				<a href="javascript:void(0)">开放平台</a> |
				<a href="javascript:void(0)">广告服务</a> |
				<a href="javascript:void(0)">招聘</a> |
				<a href="javascript:void(0)">公益</a> |
				<a href="javascript:void(0)">客服中心</a> |
				<a href="javascript:void(0)">网站导航 </a></dd>
				<dd>Copyright © 1998 - 2014 Webonly. All Rights Reserved</dd>
				<dd> WB公司 版权所有 </dd>
			</dl>
		</div>
	</div>
		</div>
		<!-- <script src="libs/Require/RequireJS.js" data-main="public/scripts/main" defer></script>-->
	</body>
</html>
