<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>等级管理</title>
<link href="{$ROOT}/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="{$ROOT}/vendor/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
<link href="{$ROOT}/vendor/fontawesome/styles/font-awesome.css" rel="stylesheet">
<script src="{$ROOT}/vendor/jquery/jquery-3.1.1.js"></script>
<script src="{$ROOT}/vendor/bootstrap/js/bootstrap.js"></script>
<script src="{$ROOT}/public/scripts/admin.js"></script>
<script src="{$ROOT}/public/scripts/redirect.js"></script>
<link href="{$ROOT}/public/styles/admin.css" rel="stylesheet">
<script src="{$ROOT}/public/scripts/learning.js"></script>
<link href="{$ROOT}/public/styles/learning.css" rel="stylesheet">
<link href="{$ROOT}/public/styles/page.css" rel="stylesheet">
<script src="{$ROOT}/public/scripts/preview.js"></script>
</head>
<body>
{include file="admin/common.html"}
	{if $show}
	<div class="row">
		<div class="col-md-12">
			<ul class="breadcrumb">
				<li><a href='/admin/welcome' target="main">后台首页</a></li>
				<li><a href='/level/show'>等级管理</a></li>
				<li class="active">显示等级</li>
				<li><a href="/level/add" title='添加等级'><i class="fa fa-plus-circle"></i></a></li>
			</ul>
			<table class="table table-bordered table-striped table-hover table-condensed alllevel">
			<tr>
				<td>名称</td>
				<td>描述</td>
				<td>权限</td>
				<td>操作</td>
			</tr>
			{if $data}
			{foreach $data as $key=>$value}
			<tr>
				<td>{$value->name}</td>
				<td>{$value->description}</td>
				<td>
					<a href="/level/showPermission/id/{$value->id}">查看权限</a>
				</td>
				<td><a href="/level/update/id/{$value->id}">修改</a><a href="/level/delete/id/{$value->id}" class="deleteBtn">删除</a></td>
			</tr>
			{/foreach}
			{else}
			<tr><td colspan="5">暂无数据</td></tr>
			{/if}
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center page">{$page}</div>
	</div>
	{/if}
{if $showPermission}
<div class="row">
	<div class="col-md-12">
		<ul class="breadcrumb">
			<li><a href='/admin/welcome' target="main">后台首页</a></li>
			<li><a href='/level/show'>等级管理</a></li>
			<li class="active">显示权限</li>
			<li><a href="/level/add" title='添加等级'><i class="fa fa-plus-circle"></i></a></li>
		</ul>
		<table class="table table-bordered table-striped table-hover table-condensed">
		<tr class="text-center text-success"><td>{$oneLevel->name}</td></tr>
		{if $permission}
		<tr class="text-center"><td>{$permission}</td></tr>
		{else}
		<tr><td>暂无权限</td></tr>
		{/if}
		<tr class="text-center"><td><a href="{$back}" class="btn btn-success">返回</a></td></tr>
		</table>
	</div>
</div>
{/if}
{if $add}
	<div class="row">
		<div class="col-md-12">
		<ul class="breadcrumb">
				<li><a href='/admin/welcome' target="main">后台首页</a></li>
				<li><a href='/level/show'>等级管理</a></li>
				<li class="active">添加等级</li>
			</ul>
			<table class="table table-bordered table-striped table-hover table-condensed">
			<form action="" method="post">
			<tr><td class="text-right">等级名称</td><td><input type="text" name="name" class="form-control"></td></tr>
			<tr><td class="text-right">等级描述</td><td><textarea name="description" class="form-control"></textarea></td></tr>
			<tr><td class="text-right">等级描述</td><td>{$permission}</td></tr>
			<tr class="text-center"><td colspan="2"><input type="submit" value="提交" class="btn btn-success" name="send"></td></tr>
			</form>
			</table>
		</div>
	</div>
{/if}
{if $update}
	<div class="row">
		<div class="col-md-12">
		<ul class="breadcrumb">
				<li><a href='/admin/welcome' target="main">后台首页</a></li>
				<li><a href='/level/show'>等级管理</a></li>
				<li class="active">添加等级</li>
			</ul>
			<table class="table table-bordered table-striped table-hover table-condensed">
			<form action="" method="post">
			<input type="hidden" name="id" value="{$oneLevel->id}">
			<tr><td class="text-right">等级名称</td><td><input type="text" name="name" class="form-control" value="{$oneLevel->name}"></td></tr>
			<tr><td class="text-right">等级描述</td><td><textarea name="description" class="form-control">{$oneLevel->description}</textarea></td></tr>
			<tr><td class="text-right">等级描述</td><td>{$permission}</td></tr>
			<tr class="text-center"><td colspan="2"><input type="submit" value="提交" class="btn btn-success" name="send"></td></tr>
			</form>
			</table>
		</div>
	</div>
{/if}
</body>
</html>