<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>导航管理</title>
<link href="{$ROOT}/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="{$ROOT}/vendor/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
<link href="{$ROOT}/vendor/fontawesome/styles/font-awesome.css" rel="stylesheet">
<script src="{$ROOT}/vendor/jquery/jquery-3.1.1.js"></script>
<script src="{$ROOT}/vendor/bootstrap/js/bootstrap.js"></script>
<script src="{$ROOT}/public/scripts/admin.js"></script>
<script src="{$ROOT}/public/scripts/tools.js"></script>
<script src="{$ROOT}/public/scripts/nav.js"></script>
<link href="{$ROOT}/public/styles/admin.css" rel="stylesheet">
<link href="{$ROOT}/public/styles/page.css" rel="stylesheet">
</head>
<body>
<!--modal模态框开始  -->
<div class="confirm modal-content" id="myModal" aria-labelledby='myModalLabel' aria-hidden='true'>
				<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true" id="confirmCloseBtn"></span><span class="rs-only"></span>
				</button>
				<h4 class="modal-title" id="myModalLabel">确定要删除吗</h4>
			</div>
			<div class="modal-body body">
				<span class="text-danger h4">删除是不可逆的，确定要删除吗？</span>
			</div>
			<div class="modal-footer">
				<a href="" type="button" class="btn btn-success" id="true">确定</a>
				<a href="" type="button" class="btn btn-danger" data-dismiss="modal" id="falseBtn">取消</a>
			</div>
</div>
<!--modal模态框结束  -->
{if $showSubNav}
<div class="row">
	<div class="col-md-12">
		<ul class="breadcrumb">
			<li><a href='?a=index&action=welcome' target="main">后台首页</a></li>
			<li><a href='?a=nav&action=showMainNav'>导航管理</a></li>
			<li class="active">显示子导航</li>
			<li><a href="?a=nav&action=addSubNav&id={$oneNav->id}" title='添加子导航'><i class="fa fa-plus-circle"></i></a></li>
		</ul>
		<table class="table table-bordered table-striped table-hover table-condensed">
		<caption class="text-success"><strong>主导航:{$oneNav->name}</strong></caption>
		<form action='?a=nav&action=deleteAll&type=SubNav&id={$oneNav->id}' method="post">
			<tr>
				<td>编号</td>
				<td>名称</td>
				<td>描述</td>
				<td>显示|隐藏</td>
				<td>操作</td>
				<td>排序</td>
				<td><input type="checkbox" id="selectBar">全选</td>
			</tr>
			{if $data}
			{foreach $data as $key=>$value}
			<tr>
				<td>{$key+$num}</td>
				<td>{$value->name}</td>
				<td>{$value->description}</td>
				<td>{$value->state}</td>
				<td>
					<a href="?a=nav&action=update&type=SubNav&id={$value->id}">修改</a>|
					<a href="?a=nav&action=delete&type=SubNav&id={$value->id}" class="deleteBtn">删除</a>
				</td>
				<td><input type="text" name="sort[{$value->id}]" value="{$value->sort}" class="form-control sort"></td>
				<td><input type="checkbox" value="{$value->id}" name="selectAll[]"></td>
			</tr>
			{/foreach}
			<tr class="text-right">
				<td colspan="7"><input type="submit" value="排序" class="btn btn-success" name="send"><input type="submit" value="全删" class="btn btn-success deleteAll" name="send"></td>
			</tr>
			{else}
			<tr>
				<td colspan="7">暂无数据</td>
			</tr>
			{/if}
		</form>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-12 text-center page">{$page}</div>
</div>
{/if}
{if $showMainNav}
<div class="row">
	<div class="col-md-12">
		<ul class="breadcrumb">
			<li><a href='/admin/welcome' target="main">后台首页</a></li>
			<li><a href='/nav/showMainNav'>导航管理</a></li>
			<li class="active">显示主导航</li>
			<li><a href="/nav/addMainNav" title='添加主导航'><i class="fa fa-plus-circle"></i></a></li>
		</ul>
		<table class="table table-bordered table-striped table-hover table-condensed">
		<form action='' method="post">
			<tr>
				<td>名称</td>
				<td>描述</td>
				<td>显示|隐藏</td>
				<td>操作</td>
				<td>排序</td>
				<td><input type="checkbox" id="selectBar">全选</td>
			</tr>
			{if $data}
			{foreach $data as $key=>$value}
			<tr>
				<td>{$value->name}</td>
				<td>{$value->description}</td>
				<td>{$value->state}</td>
				<td>
					<a href="/nav/update/id/{$value->id}">修改</a>|
					<a href="/nav/delete/id/{$value->id}" class="deleteBtn">删除</a>|
					<a href="/nav/showSubNav/id/{$value->id}">查看子导航</a>|
					<a href="/nav/addSubNav/id/{$value->id}">增加子导航</a>
				</td>
				<td><input type="text" name="sort[{$value->id}]" value="{$value->sort}" class="form-control sort"></td>
				<td><input type="checkbox" value="{$value->id}" name="deleteAll[]"></td>
			</tr>
			{/foreach}
			<tr class="text-right">
				<td colspan="7"><input type="submit" value="排序" class="btn btn-success" name="send"><input type="submit" value="全删" class="btn btn-success deleteAll" name="send"></td>
			</tr>
			{else}
			<tr>
				<td colspan="7">暂无数据</td>
			</tr>
			{/if}
		</form>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-12 text-center page">{$page}</div>
</div>
{/if}
{if $update}
<div class="row">
<div class="col-md-12">
	<ul class="breadcrumb">
		<li><a href='?a=index&action=welcome' target="main">后台首页</a></li>
		<li><a href='?a=nav&action=showMainNav'>导航管理</a></li>
		<li class="active">添加主导航</li>
		<!-- <li><a href="?action=add" title='添加广告'><i class="fa fa-plus-circle"></i></a></li> -->
	</ul>
	<table class="table table-bordered table-striped table-hover table-condensed">
		<form action='' method="post">
		<input type="hidden" name="id" value="{$oneNav->id}">
		<tr>
				<td class="text-right" width=120>是否有子导航</td>
				<td>
					<div class="radio">
						<label>
							<input type="radio" id='yes' name="hasChild" value=1>有子导航
						</label>
						<label>
							<input type="radio" id='yes' name="hasChild" value=0>无子导航
						</label>
					</div>
				</td>
			</tr>
			<tr><td class="text-right">名称</td><td><input type="text" name="name" class="form-control" value="{$oneNav->name}"></td></tr>
			<tr><td class="text-right">URL</td><td><input type="text" name="url" class="form-control" value="{$oneNav->url}"></td></tr>
			<tr><td class="text-right">描述</td><td><textarea class="form-control" name="description">{$oneNav->description}</textarea></td></tr>
			<tr class="text-center"><td colspan="2"><input type="submit" name="send" class="btn btn-success" value="提交"></td></tr>
		</form>
	</table>
</div>
</div>
{/if}
{if $addMainNav}
<div class="row">
<div class="col-md-12">
	<ul class="breadcrumb">
		<li><a href='?a=index&action=welcome' target="main">后台首页</a></li>
		<li><a href='?a=nav&action=showMainNav'>导航管理</a></li>
		<li class="active">添加导航</li>
		<!-- <li><a href="?action=add" title='添加广告'><i class="fa fa-plus-circle"></i></a></li> -->
	</ul>
	<table class="table table-bordered table-striped table-hover table-condensed">
		<form action='' method="post">
			<tr>
				<td class="text-right" width=120>是否有子导航</td>
				<td>
					<div class="radio">
						<label>
							<input type="radio" id='yes' name="hasChild" value=1>有子导航
						</label>
						<label>
							<input type="radio" id='no' name="hasChild" value=0>无子导航
						</label>
					</div>
					<div id="feedback" class="text-danger"></div>
				</td>
			</tr>
			<tr><td class="text-right">名称</td><td><input type="text" name="name" class="form-control"></td></tr>
			<tr ><td class="text-right">URL</td><td><input type="text" name="url" class="form-control" id='url' placeholder='输入完整的url'></td></tr>
			<tr><td class="text-right">描述</td><td><textarea class="form-control" name="description"></textarea></td></tr>
			<tr class="text-center"><td colspan="2"><input type="submit" name="send" class="btn btn-success" value="提交" id="subBtn"></td></tr>
		</form>
	</table>
</div>
</div>
{/if}
{if $addSubNav}
<div class="row">
<div class="col-md-12">
	<ul class="breadcrumb">
		<li><a href='?a=index&action=welcome' target="main">后台首页</a></li>
		<li><a href='?a=nav&action=showMainNav'>导航管理</a></li>
		<li class="active">添加子导航</li>
		<!-- <li><a href="?action=add" title='添加广告'><i class="fa fa-plus-circle"></i></a></li> -->
	</ul>
	<table class="table table-bordered table-striped table-hover table-condensed">
	<caption class="text-success"><strong>主导航:{$oneNav->name}</strong></caption>
		<form action='' method="post">
			<tr><td class="text-right">名称</td><td><input type="text" name="name" class="form-control"></td></tr>
			<tr><td class="text-right">描述</td><td><textarea class="form-control" name="description"></textarea></td></tr>
			<tr class="text-center"><td colspan="2"><input type="submit" name="send" class="btn btn-success" value="提交"></td></tr>
		</form>
	</table>
</div>
</div>
{/if}
</body>
</html>