<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>权限管理</title>
<link href="{$ROOT}/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="{$ROOT}/vendor/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
<link href="{$ROOT}/vendor/fontawesome/styles/font-awesome.css" rel="stylesheet">
<script src="{$ROOT}/vendor/jquery/jquery-3.1.1.js"></script>
<script src="{$ROOT}/vendor/bootstrap/js/bootstrap.js"></script>
<script src="{$ROOT}/public/scripts/admin.js"></script>
<script src="{$ROOT}/public/scripts/redirect.js"></script>
<link href="{$ROOT}/public/styles/admin.css" rel="stylesheet">
<script src="{$ROOT}/public/scripts/learning.js"></script>
<link href="{$ROOT}/public/styles/learning.css" rel="stylesheet">
<link href="{$ROOT}/public/styles/page.css" rel="stylesheet">
<script src="{$ROOT}/public/scripts/preview.js"></script>
</head>
<body>
{include file="admin/common.html"}
	{if $show}
	<div class="row">
		<div class="col-md-12">
			<ul class="breadcrumb">
				<li><a href='/admin/welcome' target="main">后台首页</a></li>
				<li><a href='/permission/show'>权限管理</a></li>
				<li class="active">显示权限</li>
				<li><a href="/permission/add" title='添加权限'><i class="fa fa-plus-circle"></i></a></li>
			</ul>
		<table class="table table-bordered table-striped table-hover table-condensed">
		<form action="" method="post">
			<tr>
				<td>名称</td>
				<td>描述</td>
				<td>操作</td>
				<td><input type="checkbox" id="selectBar">全选</td>
			</tr>
			{if $data}
			{foreach $data as $key=>$value}
			<tr>
				<td>{$value->name}</td>
				<td>{$value->description}</td>
				<td><a href="/permission/update/id/{$value->id}">修改</a><a href="/permission/delete/id/{$value->id}" class="deleteBtn">删除</a></td>
				<td><input type="checkbox" value="{$value->id}" name="selectAll[]"></td>
			</tr>
			{/foreach}
			<tr>
					<td colspan="5"><input type="submit" value="全删" class="btn btn-success pull-right" name="send"></td>
				</tr>
			{else}
			<tr><td colspan="5">暂无数据</td></tr>
			{/if}
			</form>
		</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center page">
			{$page}
		</div>
	</div>
	{/if}
	{if $add}
	<div class="row">
		<div class="col-md-12">
		<ul class="breadcrumb">
				<li><a href='?a=index&action=welcome' target="main">后台首页</a></li>
				<li><a href='?a=permission&action=show'>权限管理</a></li>
				<li class="active">添加权限</li>
			</ul>
			<table class="table table-bordered table-striped table-hover table-condensed">
			<form action="" method="post">
			<tr><td class="text-right">权限名称</td><td><input type="text" name="name" class="form-control"></td></tr>
			<tr><td class="text-right">权限描述</td><td><textarea name="description" class="form-control"></textarea></td></tr>
			<tr class="text-center"><td colspan="2"><input type="submit" value="提交" class="btn btn-success" name="send"></td></tr>
			</form>
			</table>
		</div>
	</div>
	{/if}
	{if $update}
	<div class="row">
		<div class="col-md-12">
		<ul class="breadcrumb">
				<li><a href='?a=index&action=welcome' target="main">后台首页</a></li>
				<li><a href='?a=permission&action=show'>权限管理</a></li>
				<li class="active">添加权限</li>
			</ul>
			<table class="table table-bordered table-striped table-hover table-condensed">
			<form action="" method="post">
			<input type="hidden" name="id" value="{$onePermission->id}">
			<tr><td class="text-right">权限名称</td><td><input type="text" name="name" class="form-control" value="{$onePermission->name}"></td></tr>
			<tr><td class="text-right">权限描述</td><td><textarea name="description" class="form-control">{$onePermission->description}</textarea></td></tr>
			<tr class="text-center"><td colspan="2"><input type="submit" value="提交" class="btn btn-success" name="send"></td></tr>
			</form>
			</table>
		</div>
	</div>
	{/if}
</body>
</html>