<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>前台会员管理</title>
<link href="{$ROOT}/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="{$ROOT}/vendor/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
<link href="{$ROOT}/vendor/fontawesome/styles/font-awesome.css" rel="stylesheet">
<script src="{$ROOT}/vendor/jquery/jquery-3.1.1.js"></script>
<script src="{$ROOT}/vendor/bootstrap/js/bootstrap.js"></script>
<script src="{$ROOT}/public/scripts/admin.js"></script>
<script src="{$ROOT}/public/scripts/redirect.js"></script>
<link href="{$ROOT}/public/styles/admin.css" rel="stylesheet">
<script src="{$ROOT}/public/scripts/learning.js"></script>
<link href="{$ROOT}/public/styles/learning.css" rel="stylesheet">
<link href="{$ROOT}/public/styles/page.css" rel="stylesheet">
<script src="{$ROOT}/public/scripts/preview.js"></script>
<script src="{$ROOT}/public/scripts/addpoint.js"></script>
</head>
<body>
{include file="admin/common.html"}
<div class="msg modal-content" id="myModal2" aria-labelledby='myModalLabel2' style="height:auto;">
				<div class="modal-header">
				<h4 class="modal-title text-primary" id="myModalLabel">您现在的操作</h4>
			</div>
			<div class="modal-body body" style="height:50px;">
				<span class="text-danger h4"></span>
			</div>
			<div class="modal-footer">
					<a href="http://www.webonly.org" target="_blank" class="h3 text-primary">www.webonly.org</a>					
			</div>
</div>
{if $show}
<div class="row">
	<div class="col-md-12">
	<ul class="breadcrumb">
			<li><a href='/admin/welcome' target="main">后台首页</a></li>
			<li><a href='/user/show'>前台管理员管理</a></li>
			<li class="active">显示前台管理员</li>
	</ul>
<table class="table table-bordered table-striped table-hover table-condensed">
		<form action="" method="post">
			<tr>
				<td>用户名</td>
				<td>邮箱</td>
				<!-- <td>头像</td> -->
				<td>充值</td>
				<td style="width:75px;">登录次数</td>
				<td>登录IP</td>
				<td>登录时间</td>
				<td>注册时间</td>
				<td>禁言</td>
				<td>操作</td>
				<td><input type="checkbox" id="selectBar"></td>
			</tr>
			{if $data}
			{foreach $data as $key=>$value}
			<tr>
				<td title="{$value->username}">{$value->username|truncate:10:".."}</td>
				<td>{$value->email}</td>
				<!-- <td><img src="public/uploads/member/{$value->icon}" style="width:50px;height:50px;"></td> -->
				<td style="width:130px;">
					<input type="text" value="{$value->countdown}" class="form-control" style="width:50px;display:inline-block;">&nbsp;&nbsp;
					<a class="btn btn-success addPoint" href="javascript:void(0);" info="{$value->id}">确认</a>
				</td>
				<td>{$value->login_num}</td>
				<td>{$value->last_ip}</td>
				<td>{$value->last_time}</td>
				<td>{$value->regTime}</td>
				<td>{$value->state}</td>
				<td><a href="?a=user&action=delete&id={$value->id}" class="deleteBtn">删除</a></td>
				<td><input type="checkbox" value="{$value->id}" name="selectAll[]"></td>
			</tr>
			{/foreach}
			<tr>
				<td colspan="12" class='text-right'><input type="submit" class="btn btn-success" name="send" value="全删"></td>
			</tr>
			{else}
			<tr><td colspan="11">暂无文章</td></tr>
			{/if}
			</form>
		</table>
	</div>
	<div class="row">
		<div class="col-md-12 text-center page">{$page}</div>
	</div>
</div>
{/if}







</body>
</html>