<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{$oneAsk->topic}</title>
<link href="{$ROOT}/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="{$ROOT}/vendor/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
<script src="{$ROOT}/vendor/jquery/jquery-3.1.1.js"></script>
<script src="{$ROOT}/vendor/bootstrap/js/bootstrap.js"></script>
<script src="{$ROOT}/public/scripts/login.js"></script>
<script src="{$ROOT}/public/scripts/home.js"></script>
<script src="{$ROOT}/public/scripts/frontnav.js"></script>
<link href="{$ROOT}/public/styles/footer.css" rel="stylesheet">
<link href="{$ROOT}/public/styles/member.css" rel="stylesheet">
<link href="{$ROOT}/public/styles/common.css" rel="stylesheet">
<link href="{$ROOT}/public/styles/header.css" rel="stylesheet">
<script src="{$ROOT}/public/scripts/redirect.js"></script>
<script src="{$ROOT}/public/scripts/login.js"></script>
<link href="{$ROOT}/public/styles/tools.css" rel="stylesheet">
<link href="{$ROOT}/public/styles/ask.css" rel="stylesheet">
<script src="{$ROOT}/public/scripts/ask.js"></script>

</head>
<body id="home">
{include file="home/common.html"}
{include file="home/header.html"}
<div class="container">
{if $detail}
<div class="row">
	<div class="col-md-9">
	<dl>
		<dt>{$oneAsk->topic}</dt>
	</dl>
	</div>
	<div class="col-md-3">left</div>
</div>
{/if}
{if $AllAsk}
<div class="row middle">
		<div class="col-md-12">		
		<dl class="memberTitle">
			{foreach $AllCourse as $value}
			<dd><a href="?a=ask&m=AllAsk&id={$value->id}">{$value->name}</a></dd>			
			{/foreach}			
			<h1 class="clearfix"></h1>
		</dl>
		{if $sub}
		{foreach $sub as $v}
		<div class="tab panel panel-default highlight">				
				<table border="0" cellspacing="0" cellpadding="0" width=100%>
				<tr style="height:33px;">
					<td rowspan="2" style="width:100px;text-align:center;" class="bg-primary"><a href="?a=ask&action=detail&id={$v->id}" style="color:white;" target="_blank">{$v->AnswerNum}<br>回复</a></td>
					<td><h2><a href="?a=ask&action=detail&id={$v->id}" class="question_title">{$v->topic|truncate:50:"..."}</a></h2></td>
					<td style="width:70px;padding-right:5px;"><a href="?a=ask&m=addTopic" class="btn btn-success">我要提问</a></td>					
				</tr>
				<tr><td colspan="2" style="padding-left:5px;border-top:1px dashed #ddd;color:#999;">				
				9小时前 by shenyou354
				<a href='?a=ask&m=respond&id={$v->id}&pid={$v->id}&cid={$v->cid}' target="_blank">回复</a>							
			</table>			
		</div>
		{/foreach}
		<div>{$page}</div>
		{else}
		<div class="tab panel panel-default highlight">				
				<table border="0" cellspacing="0" cellpadding="0" width=100%>
				<tr style="height:33px;">
					<td rowspan="2" style="width:100px;text-align:center;" class="bg-primary"><a href="?a=ask&action=detail&id={$value->id}" style="color:white;" target="_blank">暂无<br>问答</a></td>
					<td><h2><a href="?a=ask&action=detail&id={$value->id}" class="question_title">暂无问答</a></h2></td>
					<td style="width:70px;padding-right:5px;"><a href="?a=ask&m=addTopic" class="btn btn-success">我要提问</a></td>					
				</tr>
				<tr><td colspan="2" style="padding-left:5px;border-top:1px dashed #ddd;color:#999;">				
				<a href='?a=ask&m=respond&id={$value->id}&pid={$value->id}&cid={$value->cid}' target="_blank"></a>							
			</table>			
		</div>		
		{/if}		
		</div> 
</div>		
{/if}
<!-- {if $oneAsk}
<div class="row middle">
	<div class="col-md-8">
		<div style="padding-left:15px;" class="text-primary h1">{$oneAsk->topic}</div>
		{if $data}
		{foreach $data as $key=>$value}		
		<table border=0 width=100% cellspacing=0 cellpadding=0>
			<tr>
				<td class='icon' style="width:100px;padding:10px;">				
					{if $value->icon}<img src="public/uploads/member/{$value->icon}" class="img-circle">{else}hello{/if}
					&nbsp;&nbsp;
				</td>
				<td><span class="h3">{$value->username}</span></td>
				<td><span class="h5">{$value->date}</span></td>
			</tr>
			<tr style="border-top:1px dashed #ddd;">
				<td colspan='3' style="padding:15px;" class="text-warning">{$value->content}</td>				
			</tr>
			<tr>
				<td colspan="2" style="padding:15px;">			
				{foreach $value as $k=>$v}				
				{$v->content}
				<a href='?a=ask&action=respond&id={$v->id}&pid={$oneAsk->id}&cid={$oneAsk->cid}'>回复</a>||<a href='#'>赞</a>||<a href='#'>踩</a>
				{/foreach}								
				</td>
			</tr>
		</table>		
		{/foreach}	
		<div>{$page}</div>	
		{else}
		<table border=0 width=100% cellspacing=0 cellpadding=0>
			<tr style="border-top:1px dashed #ddd;">
				<td colspan='3' style="padding:15px;" class="text-warning">暂无回复！</td>
				<td class="text-right" style="padding-right:5px;"><a href="?a=ask&m=respond&id={$oneAsk->id}&pid={$oneAsk->id}&cid={$oneAsk->cid}" class="button button-raised button-primary">我来回复</a></td>				
			</tr>
		</table>
		{/if}		
	</div>
	<div class="col-md-4">
		<dl class="board">
				<dt class="text-center">热门问答</dt>
				{if $askLeaderboard}
				{foreach $askLeaderboard as $key=>$value}
				<dd><span>{$key+1}</span><a href="?a=ask&action=detail&id={$value->id}">{$value->topic|truncate:25:"..."}</a></dd>
				{/foreach}	
				{else}			
				<dd><span>1</span><a href="javascript:void(0)">最佳前端入门方法</a></dd>
				<dd class="bg-gray"><span>2</span><a href="javascript:void(0)">CSS权威指南如何？</a></dd>
				<dd><span>3</span><a href="javascript:void(0)">JavaScript红宝书在哪儿有卖？</a></dd>
				<dd class="bg-gray"><span>4</span><a href="javascript:void(0)">锋利的jQuery锋利在哪儿？</a></dd>
				<dd><span>5</span><a href="javascript:void(0)">PHP核心模块这边书有价值吗？</a></dd>
				<dd class="bg-gray"><span>6</span><a href="javascript:void(0)">PHP设计模式的低劣之处</a></dd>
				<dd><span>7</span><a href="javascript:void(0)">程序员修炼之道！</a></dd>
				{/if}
			</dl>
	</div>
</div>
{/if} -->
{if $showTopic}
<div class="row">
	<div class="col-md-8">
		<form action='/ask/addTopic' method="post">
		<input type="hidden" name="uid" id="uid">
			<table>
				<tr>
					<td class="text-right">
						<select name="cid" class="input-sm" id="cid">
							<option value="0" {$all}>所属主题</option>
								{$course}
						</select>(<span class="glyphicon glyphicon-asterisk" style="color:red"></span>)
					</td>
				</tr>
				<tr>
					<td colspan="2">	
						<script id="commentEditor" name="respond" style="width:100%"></script>						 					
					</td>
				</tr>
				<tr><td><input type="submit" value="提交" name="send" class="btn btn-success" id="submitBtn"></td></tr>
			</table>	
		</form>	
	</div>
	<div class="col-md-4">
		<dl class="board">
				<dt class="text-center">热门问答</dt>
				{if $askLeaderboard}
				{foreach $askLeaderboard as $key=>$value}
				<dd><span>{$key+1}</span><a href="?a=ask&action=detail&id={$value->id}">{$value->topic|truncate:25:"..."}</a></dd>
				{/foreach}	
				{else}			
				<dd><span>1</span><a href="javascript:void(0)">最佳前端入门方法</a></dd>
				<dd class="bg-gray"><span>2</span><a href="javascript:void(0)">CSS权威指南如何？</a></dd>
				<dd><span>3</span><a href="javascript:void(0)">JavaScript红宝书在哪儿有卖？</a></dd>
				<dd class="bg-gray"><span>4</span><a href="javascript:void(0)">锋利的jQuery锋利在哪儿？</a></dd>
				<dd><span>5</span><a href="javascript:void(0)">PHP核心模块这边书有价值吗？</a></dd>
				<dd class="bg-gray"><span>6</span><a href="javascript:void(0)">PHP设计模式的低劣之处</a></dd>
				<dd><span>7</span><a href="javascript:void(0)">程序员修炼之道！</a></dd>
				{/if}
		</dl>
	</div>
</div>
{/if}
{if $respond}
<div class="row">
	<div class="col-md-8">
			<div class="answer">
					<table>
					<form action='' method="post">
					<input type="hidden" name='uid' id="uid">
					<input type="hidden" name="id" value={$id}>
					<input type="hidden" name="cid" value={$cid}>
						<tr>
							<td>
							<span class="h3 text-primary">{$oneTopic->topic}</span>
							</td>
						</tr>
						<tr>
							<td>
							<textarea rows="15" cols="150" name="respond" class="form-control"></textarea>	
							<!-- <script id="commentEditor" name="respond" style="width:100%">DDDD</script>	 -->					
							</td>
						</tr>
						<tr><td><input type="submit" value="提交" name="send" class="btn btn-success" id="submitBtn"></td></tr>
					</form>
					</table>					
					</div>
	</div>
	<div class="col-md-4">
		<dl class="board">
				<dt class="text-center">热门问答</dt>
				{if $askLeaderboard}
				{foreach $askLeaderboard as $key=>$value}
				<dd><span>{$key+1}</span><a href="?a=ask&action=detail&id={$value->id}">{$value->topic|truncate:25:"..."}</a></dd>
				{/foreach}	
				{else}			
				<dd><span>1</span><a href="javascript:void(0)">最佳前端入门方法</a></dd>
				<dd class="bg-gray"><span>2</span><a href="javascript:void(0)">CSS权威指南如何？</a></dd>
				<dd><span>3</span><a href="javascript:void(0)">JavaScript红宝书在哪儿有卖？</a></dd>
				<dd class="bg-gray"><span>4</span><a href="javascript:void(0)">锋利的jQuery锋利在哪儿？</a></dd>
				<dd><span>5</span><a href="javascript:void(0)">PHP核心模块这边书有价值吗？</a></dd>
				<dd class="bg-gray"><span>6</span><a href="javascript:void(0)">PHP设计模式的低劣之处</a></dd>
				<dd><span>7</span><a href="javascript:void(0)">程序员修炼之道！</a></dd>
				{/if}
		</dl>
	</div>
</div>
{/if}
</div>
{include file="home/footer.html"}
<script src="{$ROOT}/vendor/ueditor/ueditor.config.js"></script>
<script src="{$ROOT}/vendor/ueditor/ueditor.all.js"></script>
<script>
	var ue=UE.getEditor("commentEditor");
</script>
</body>
</html>