<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- <link href="public/styles/bootstrap.css" rel="stylesheet"> -->
<!-- <script src="libs/Require/RequireJS.js" data-main='public/scripts/front'></script> -->
<!-- <link href="public/styles/home.css" rel="stylesheet">
<link href="public/styles/member.css" rel="stylesheet">
<link href="public/styles/common.css" rel="stylesheet"> -->
</head>
<body>
<h1>demo</h1>
<!-- {include file="home/common.html"} -->
<!-- {include file="home/header.html"} -->
</body>
</html>