<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{$oneArticle->title}</title>
<link href="libs/bootstrap/styles/bootstrap.css" rel="stylesheet">
<link href="libs/fontawesome/styles/font-awesome.css" rel="stylesheet">
<link href="public/styles/common.css" rel="stylesheet">
<link href="public/styles/header.css" rel="stylesheet">
<link href="public/styles/detail.css" rel="stylesheet">
<script src="libs/Require/RequireJS.js" data-main='public/scripts/front'></script>
</head>
<body>
{include file="home/common.html"}
{include file="home/header.html"}
<div class="container">
	<div class="row">
		<div class="col-md-12" id="breadcrumb">
			<ul class="breadcrumb" style="background:url(public/images/topbar_bg.gif)">
				<li><a href='index.php'>首页</a></li>
			{if $mainNav}
				<li><a href='?a=subnav&action=show&id={$mainNav->id}'>{$mainNav->name}</a></li>
				<li><a href="?a=subnavdetail&action=show&name={$subNav->name}&father={$mainNav->name}&fid={$mainNav->id}">{$subNav->name}</a></li>
			{else}
				<li><a href='?a=subnav&action=show'>主导航</a></li>
				<li><a href='?a=subnavdetail&action=show'>子导航</a></li>
			{/if}
				<li class="active">正文</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8" style="padding:0">		
			<div class="article">
				<dl>
				{if $oneArticle}
				<dt class="title">{$oneArticle->title}</dt>
					<dd class="subtitle">{$oneArticle->date}  {$oneArticle->source}  <a href="#">我有话说(2,906人参与)</a> {$oneArticle->pageview}人已读</dd>
					{if $oneArticle->lead}<dd class="lead">{$oneArticle->lead}</dd>{/if}
					<dd class="content">{$oneArticle->content}</dd>
					<dd class="tag"> 文章关键词：<a href="#">{$oneArticle->tag}</a></dd>
					<dd class="share">
						<div class="jiathis_style_24x24">
							<a class="jiathis_button_qzone"></a>
							<a class="jiathis_button_tsina"></a>
							<a class="jiathis_button_tqq"></a>
							<a class="jiathis_button_weixin"></a>
							<a class="jiathis_button_renren"></a>
							<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
							<a class="jiathis_counter_style"></a>
						</div>
					</dd>
				{else}
					<dt class="title">新闻标题</dt>
					<dd class="subtitle">2014年10月09日02:39  新京报 我有话说(2,906人参与) 80人已读</dd>
					<dd>正文</dd>
					<dd class="tag"> 文章关键词：<a href="#">团伙帮派</a>  <a href="#">利益集团 </a> </dd>
					<dd class="share">
					<!-- JiaThis Button BEGIN -->
						<div class="jiathis_style_24x24">
							<a class="jiathis_button_qzone"></a>
							<a class="jiathis_button_tsina"></a>
							<a class="jiathis_button_tqq"></a>
							<a class="jiathis_button_weixin"></a>
							<a class="jiathis_button_renren"></a>
							<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
							<a class="jiathis_counter_style"></a>
						</div>
					<!-- JiaThis Button END -->
					</dd>
				{/if}
				</dl>
			</div>
			<div class="comment">
				<dl>
					<dd>	<textarea class="comment_content"></textarea></dd>
					
					<input type="hidden" value="{$oneArticle->id}" id="aid">
					<dd class="text-right"><input type="button" value="发表评论" class="btn btn-success" id="commentBtn"></dd>						
					</dd>
					<dd id="showComment">

					</dd>
				</dl>
			</div>
		</div>			
		<div class="recommend col-md-4">	
			<table class="table table-bordered table-striped table-hover table-condensed">
				<tr><td class="text-center">好 书 推 荐</td></tr>
				{foreach $recommend as $key=>$value}
				<tr><td class="text-center"><a href="?a=cart&action=detail&id={$value->id}" target="_blank"><img src="public/uploads/product/{$value->pix}" title="{$value->name}"></a></td></tr>
				<tr>	<td class="text-center"><a href="?a=cart&action=detail&id={$value->id}" target="_blank">{$value->name}</a></td></tr>
				<tr>	<td class="text-center">{$value->author}&nbsp;&nbsp;&nbsp;&nbsp;¥&nbsp;{$value->price}</td></tr>			
				{/foreach}
			</table>
		</div>
	</div>
</div>
<ul id="indicator">
	<li><span>首页</span><i class="fa fa-home"></i></li>
	<li style="border-bottom:1"><span><a data-toggle="modal" data-target="#reportModal">反馈</a></span><i class="fa fa-comment"></i></li>
	<li style="border-bottom:0" id="up"><span>回到顶部</span><i class="fa fa-chevron-up"></i></li>
</ul>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
</body>
</html>