<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>下载首页</title>
<link href="{$ROOT}/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="{$ROOT}/vendor/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
<link href="{$ROOT}/vendor/fontawesome/styles/font-awesome.css" rel="stylesheet">
<script src="{$ROOT}/vendor/jquery/jquery-3.1.1.js"></script>
<script src="{$ROOT}/vendor/bootstrap/js/bootstrap.js"></script>
<script src="{$ROOT}/public/scripts/login.js"></script>
<script src="{$ROOT}/public/scripts/home.js"></script>
<script src="{$ROOT}/public/scripts/frontnav.js"></script>
<link href="{$ROOT}/public/styles/home.css" rel="stylesheet">
<link href="{$ROOT}/public/styles/member.css" rel="stylesheet">
<link href="{$ROOT}/public/styles/common.css" rel="stylesheet">
<link href="{$ROOT}/public/styles/header.css" rel="stylesheet">
<link href="{$ROOT}/public/styles/footer.css" rel="stylesheet">
<link href="{$ROOT}/public/styles/page.css" rel="stylesheet">
<script src="{$ROOT}/public/scripts/scrollBack.js"></script>
<script src="{$ROOT}/public/scripts/download.js"></script>
<link href="{$ROOT}/public/styles/download.css" rel="stylesheet">
</head>
<body id="home">
{include file="home/header.html"}
<div class='container'>	
	{if $show}
	<div class="row">
		<div class="col-md-8">
		<dl class="memberTitle">
			{if $temp}
			{foreach $temp as $key=>$value}
			<dd><a href="javascript:void(0);">{$key}</a></dd>
			{/foreach}
			{else}
			<dd><a href="javascript:void(0);">基本资料</a></dd>			
			{/if}
			<h1 class="clearfix"></h1>
		</dl>		
		{foreach $temp as $key=>$value}
			<div class="tab panel">
				<div class="panel-body">
						<p class="text-right"><a href="/download/all/name/{$key}" class="btn btn-danger">所有{$key}</a></p>
				</div>
			{if $value }
			{foreach $value as $v}				
			<table class="table table-bordered table-striped table-hover" style="border:1px solid #ddd;margin-bottom:5px;">
					<tr>				
						<td style='width:90px;'>名称:{$v->title}</td>
						<td  style='width:35px;'>
							{if $v->name}
							<i class="fa fa-download" style="color:gray;"></i>
							<!-- <a href="/download/updateDownloadNum/id/{$v->id}/name/{$v->name}" class="downloadBtn">下载</a> -->
							<a href='{$ROOT}/public/uploads/download/{$v->name}' class="downloadBtn">下载</a>							
							{else}
							<i class="fa fa-download" style="color:gray;"></i>
							<!-- <a href="{$v->url}" info="{$v-id}" target="_blank" class="downloadBtn">下载</a> -->	
							<a href='{$v->url}' class="downloadBtn">下载</a>						
							{/if}
						</td>
						<td style='width:45px;'>下载次数:{$v->download_num}</td>
					</tr>
					<tr>
						<td colspan="4">描述:{$v->description}</td>
					</tr>
					<tr>
					<td colspan="3">更新时间:{$v->date}</td>
					</tr>		
			</table>				
			{/foreach}
			{else}
				<table class="table table-bordered table-striped table-hover" style="border:1px solid #ddd;margin-bottom:25px;">
					<tr>				
						<td style='width:90px;' class="text-right">名称</td><td>暂无文件可下载</td>
					</tr>
					<tr>
						<td style='width:90px;' class="text-right">描述</td><td>暂无文件可下载</td>
					</tr>
					<tr>
						<td style='width:90px;' class="text-right">文件</td>
						<td>暂无文件可下载</td>
					</tr>										
					<tr>
						<td style='width:90px;' class="text-right">下载次数</td><td>{$v->download_num}</td>
					</tr>					
			</table>
			{/if}
		 </div>		
		{/foreach}					
		</div>
		{$page}
		<div class="col-md-4">
			<table class="table table-striped table-hover table-condensed" style="border:1px solid #ddd;margin-top:10px;">
				<tr><th style="text-align:center;" colspan="3">热 门 下 载</th></tr>
				{if $downloadLeaderboard}
				{foreach $downloadLeaderboard as $key=>$value}
				<tr>
					<td>{$key+1}</td>
					<td>
						{if $value->name}
						<a href="{$ROOT}/public/uploads/download/{$v->name}" id="downloadBtn">{$value->title|truncate:20:""}</a>
						<!-- ?a=download&m=updateDownloadNum&name={$value->name}&id={$value->id} 
						<a data-id="{$value->id}" data-description="{$value->description}" data-time="{$value->date}"  data-count='{$value->download_num}' data-href="/public/uploads/download/{$value->name}" href="#" info="{$value-id}"  class="downloadBar" target="_blank" data-toggle="modal" data-target="#downloadModal" data-title="{$value->title}">{$value->title|truncate:20:""}</a>	-->					
						{else}
						<!-- {$value->url} -->
						<a data-id="{$value->id}" data-description="{$value->description}"    data-time="{$value->date}"  data-count='{$value->download_num}' data-href='{$value->url}' href="#" class="downloadBar" info="{$value-id}" target="_blank" data-toggle="modal" data-target="#downloadModal" data-title="{$value->title}">{$value->title|truncate:20:""}</a>							
						{/if}
					</td>
					<td>{$value->download_num}次</td>
				{/foreach}	
				{else}
				{/if}
			</table>
		</div>
	</div>
	{/if}
	{if $allDownload}
	<div class="row">
	<div class="col-md-8">
		<dl class="memberTitle text-primary">{$oneTopic->name}&nbsp;&nbsp;<a href="{$back}"><button class="btn btn-success" style="margin:5px;" title="返回"><i class="fa fa-reply"></i></button></a></dl>
		{foreach $allDownload as $v}				
			<table class="table table-bordered table-striped table-hover" style="border:1px solid #ddd;margin-bottom:5px;">
					<tr>				
						<td style='width:90px;'>名称:{$v->title}</td>
						<td  style='width:35px;'>{if $v->name}<i class="fa fa-download" style="color:gray;"></i><a href="{$ROOT}/public/uploads/download/{$v->name}" id="downloadBtn">下载</a>{else}<a href="{$v->url}" target="_blank">下载</a>{/if}</td>
						<td style='width:45px;'>下载次数:{$v->download_num}</td>
						<td style='width:90px;'>发布时间:{$v->date}</td>
					</tr>
					<tr>
						<td style='width:90px;' colspan="4">描述:{$v->description}</td>
					</tr>									
			</table>						
			{/foreach}
			<div class="text-center page">{$page}</div>
			<style>
				.page ul{
					margin-left:5px;
				}
			</style>
	</div>
		<div class="col-md-4">
		<table class="table table-striped table-hover table-condensed" style="border:1px solid #ddd">
				<tr><th style="text-align:center;" colspan="3">热 门 下 载</th></tr>
				{if $downloadLeaderboard}
				{foreach $downloadLeaderboard as $key=>$value}
				<tr>
					<td>{$key+1}</td>
					<td>
						{if $value->name}
						<a href="{$ROOT}/public/uploads/download/{$v->name}" id="downloadBtn">{$value->title|truncate:20:""}</a>
						<!-- ?a=download&m=updateDownloadNum&name={$value->name}&id={$value->id} 
						<a data-id="{$value->id}" data-description="{$value->description}" data-time="{$value->date}"  data-count='{$value->download_num}' data-href="/public/uploads/download/{$value->name}" href="#" info="{$value-id}"  class="downloadBar" target="_blank" data-toggle="modal" data-target="#downloadModal" data-title="{$value->title}">{$value->title|truncate:20:""}</a>	-->					
						{else}
						<!-- {$value->url} -->
						<a data-id="{$value->id}" data-description="{$value->description}"    data-time="{$value->date}"  data-count='{$value->download_num}' data-href='{$value->url}' href="#" class="downloadBar" info="{$value-id}" target="_blank" data-toggle="modal" data-target="#downloadModal" data-title="{$value->title}">{$value->title|truncate:20:""}</a>							
						{/if}
					</td>
					<td>{$value->download_num}次</td>
				{/foreach}	
				{else}
				{/if}
			</table>
		</div>
	</div>
	{/if}
	{include file="home/footer.html"}
</div>
</body>
</html>