<header>
	<section class="logo">
		<a href="/home/index"><img src='{$ROOT}/public/images/logo.png' title='webonly.org'></a>
	</section>
	<nav>
		<dl class="nav navList">
			<dd class="active"><a href="/home/index">Home</a></dd>
			{if $frontNav}
			{foreach $frontNav as $key=>$value}
			{if $value->hasChild eq 0}
			<dd><a href="{$value->url}" target="_blank" target="_blank">{$value->name}</a></dd>
			{else}
			<dd><a href="/subnav/show/id/{$value->id}" target="_blank">{$value->name}</a></dd>
			{/if} 
			<!-- <dd><a href="?a=subnav&action=show&id={$value->id}" target="_blank">{$value->name}</a></dd> -->
			{/foreach}
			{else}
			<dd><a href="javascript:void(0)">关于我们</a></dd>
			<dd><a href="javascript:void(0)">关于我们</a></dd>
			<dd><a href="javascript:void(0)">关于我们</a></dd>
			<dd><a href="javascript:void(0)">关于我们</a></dd>
			<dd><a href="javascript:void(0)">关于我们</a></dd>
			<dd><a href="javascript:void(0)">关于我们</a></dd>
			<dd style="border:0"><a href="#">关于我们</a></dd>
			{/if}
			<div class="clearfix"></div>
		</dl>
	</nav>
	<section class="login_reg">
		<span class="UIA">
			<a href="javascript:void(0);" data-toggle="modal" data-target="#loginModal">登录</a>
			<a href="/user/reg">注册</a> 
		</span>
		<span class="UIB">
		<ul class="list-inline unstyled">
			<li class="dropdown">
              <img src="{$ROOT}/public/images/default.jpg" class="img-circle" id="defaultUser">
            </li>
            <!--未读信息  -->
			<li class="dropdown" id="msglist">
              <a id="drop1" class="dropdown-toggle glyphicon glyphicon-envelope" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="bubble"></span>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
              </ul>
            </li>
            <!--会员中心  -->
            <li class="dropdown">
              <a uid='' id="userValue"  class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="userValue">
              	<i class="fa fa-caret-up"></i>
                <li role="presentation"><a href="#">点数:<span class="point"></span></a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a href="" id="memberSpace" target="_blank">会员中心</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a  id="logoutBar">注销</a></li>
              </ul>
            </li>
		</ul>
		</span>
	</section>
</header>
<div class="inner"></div>