<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Project</title>
<link href="{$ROOT}/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="{$ROOT}/vendor/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
</head>
<body>
<div	 class="container">
	<div class="row">
		<div class="col-md-12">
		<table class="table table-bordered table-striped table-hover table-condensed">
			<tr><th colspan="3" style="text-align:center">HTML项目</th></tr>
			<tr>
				<th width=250>名称</th><th>描述</th><th>备注</th>
			</tr>
			<tr>
				<th><a href="http://www.webonly.org/project/html/svg.html" target="_blank">SVG动画</a></th><th>描述</th><th>备注</th>
			</tr>
		</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		<table class="table table-bordered table-striped table-hover table-condensed">
			<tr><th colspan="3" style="text-align:center">CSS项目</th></tr>
			<tr>
				<th width=250>名称</th><th>描述</th><th>备注</th>
			</tr>
			<tr>
			<td><a href="http://www.webonly.org/project/css/animation.html" target="_blank">CSS动画</a></td>
			<td></td>
			<td></td>
			</tr>
			<tr>
				<td><a href="http://www.webonly.org/project/css/index/index.html" target="_blank">首页</a></td>
				<td colspan="2">页面基于Bootstrap和Font-awesome实现</td>
			</tr>
		</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		<table class="table table-bordered table-striped table-hover table-condensed">
			<tr><th colspan="3" style="text-align:center">JavaScript项目</th></tr>
			<tr>
				<th width=250>名称</th><th>描述</th><th>备注</th>
			</tr>
			<tr>
			<td><a href="http://www.webonly.org/project/js/calendar.html" target="_blank">日历</a></td><td></td><td></td>
			</tr>
			<tr>
			<td><a href="http://www.webonly.org/project/js/progressbar.html" target="_blank">上传文件时的进度条</a></td><td></td><td></td>
			</tr>
			<tr>
			<td><a href="http://www.webonly.org/project/js/transfer.html" target="_blank">上传前预览、读取图片</a></td><td></td><td></td>
			</tr>
			<tr>
			<td><a href="http://www.webonly.org/project/js/clock.html" target="_blank">canvas+js时钟</a></td><td></td><td></td>
			</tr>
			<tr>
			<td><a href="http://www.webonly.org/project/js/video.html" target="_blank">HTML5视频播放器</a></td><td></td><td></td>
			</tr>
			<tr>
			<td>
				<a href="http://www.webonly.org/project/js/mouse.html" target="_blank">下拉菜单</a>
				</td>
			<td>主要通过museover和mouseout事件实现</td>
			<td></td>
			</tr>
			<tr>
			<td><a href="http://www.webonly.org/project/js/drag.html" target="_blank">拖动元素</a></td><td></td><td></td>
			</tr>
			<tr>
			<td><a href="http://www.webonly.org/project/js/guestbook/index.html" target="_blank">ajax留言本</a></td><td></td><td></td>
			</tr>
			<tr>
			<td><a href="http://www.webonly.org/user/reg" target="_blank">完整版注册验证</a></td><td></td><td></td>
			</tr>
		</table>
		</div>
	</div>
</div>
</body>
</html>