@CHARSET "UTF-8";
.productHeader dl{
	padding-top:10px;
}
.productHeader dd{
	margin-top:10px;
}
.productHeader input[type=text]{
	border:0;
}
.glyphicon-chevron-up,.glyphicon-chevron-down{
	padding-left:10px;
	padding-right:25px;
}