@CHARSET "UTF-8";
.highlight{
	background:#eee;
}
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
}
.memberTitle{
	margin-top:15px;
	padding:0;
	padding-left:15px;
	height:50px;
	line-height:50px;
	
}
.memberTitle dd{
	width:150px;
	height:50px;
	margin-top:-28px;
}