@CHARSET "UTF-8";
.float{
	position:fixed;
	top:0;
	width:100%;
	z-index:9000;
}
#captcha{
	cursor:pointer;
}
header{
	background-color: #0d5caa;
	color:#fff;
	height:55px;
	/*overflow:hidden;*/
}
header a{
	color:#fff;
}
header:after{
	content:"";
	display:block;
	clear:both;
}
section.logo{
	width:10%;
	float:left;
}
section.logo img{
	width:100%;
	height:100%;
	margin-top:5px;
}
nav{
	width:70%;
	float:left;
}
section.login_reg{
	width:20%;
	float:right;
	line-height:55px;
	text-align:center;
}
.inner{
  width: 100%;
  height:5px;
  background-color: #0fa6ea;
  background: -webkit-linear-gradient(left,rgba(15,166,234,1) 0,rgba(89,204,24,1) 10%,rgba(15,166,234,1) 60%,rgba(15,166,234,1) 100%);
  background: -moz-linear-gradient(left,rgba(15,166,234,1) 0,rgba(89,204,24,1) 10%,rgba(15,166,234,1) 60%,rgba(15,166,234,1) 100%);
  background: -ms-linear-gradient(left,rgba(15,166,234,1) 0,rgba(89,204,24,1) 10%,rgba(15,166,234,1) 60%,rgba(15,166,234,1) 100%);
  background: linear-gradient(left,rgba(15,166,234,1) 0,rgba(89,204,24,1) 10%,rgba(15,166,234,1) 60%,rgba(15,166,234,1) 100%);
}
.UIA .dropdown",.UIB .dropdown"{
	margint-top:20px;
}
.UIA a:hover,.UIA a:active,.UIB a:hover,.UIB a:active{
	color:#fff;
}
.UIB{
	font-size:18px;
}
.UIB .dropdown-menu{
	top:60px;
	min-width:98px;
	text-align:center;
}
#msglist  .dropdown-menu{
	width:350px;
	left:-300px;
}
.UIB .dropdown{
	padding-left:15px;
	padding-right:15px;
}
.UIB .a-envelope-o{
	position:relative;
	border:1px solid red;
}
.UIB .bubble{
	position:absolute;
	top:-9px;
	left:23px;
	width:20px;
	text-align:center;
	height:20px;
	line-height:20px;
	background:red;
	color:white;
	display:inline-block;
	border-radius:20px;
	font-size:10px;
	font-weight:bold;
	
}
.UIB .divider{
	margin:0;
}
.UIB .badge{
	background:red;
	position:absolute;
	right:35px;
	top:10px;
}
.dropdown{
	position:relative;	
	
}
.dropdown-menu .fa-caret-up{	
	position:absolute;
	top:-17px;
	left:36px;
	font-size:25px;	
	color:#fff;
	
}
.dropdown #menu3{	
	position:absolute;
	top:50px;
	left:-30px;	
	height:auto;
	min-width:100px;	
	text-align:center;
}
.dropdown #menu3 .divider{
	margin-top:0;
	margin-bottom:0;
}
#defaultUser{
	width:30px;
	height:30px;
}
.nav{
	/*border-top:2px solid red;
	background-color: #f0f0f0;
	background-image: -webkit-gradient(linear,left top, left bottom,from(#fefefe), color-stop(0.5,#f0f0f0), color-stop(0.51, #e6e6e6));
	background-image: -moz-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	background-image: -o-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	background-image: -ms-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);	
	Adding a 1px inset highlight for a more polished efect:	
	box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
	-moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
	-webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset; */
}
.nav a{
	font-weight:bold;
	font-size:18px;
}
.nav a:hover{
	text-decoration:none;
}
.nav dd{	
	/*  */
	display:inline-block;
	height:55px;
	width:85px;
	line-height:55px;
	text-align:center;	
	transition:background 0.3s ease 0.1s;	
	/*  */		
}
.nav dd.active{	
	background:red;	
	-webkit-animation: slide 1s .1s ease both;
    -moz-animation: slide 1s .1s ease both;
	position:relative;
	width:90px;
}
.nav dd:hover,.nav dd a:hover{
	cursor:pointer;
}

.nav dd:hover a{
	color:white;
}
.nav dd.active a{
	color:white;
	
}

@keyframes slide{
            from {
				left:0;
			}
            to {
            	left:10px;
			}
        }
/* Firefox */
@-moz-keyframes slide {
		from {
			left:0;
			}
            to {
            	left:10px;
			}
        }
/* Safari and Chrome */
@-webkit-keyframes slide {
		from {
			left:0;
			}
            to {
            	left:10px;
			}
        }
/* Opera */
@-o-keyframes slide {
		from {
			left:0;
			}
        to {
        	left:10px;
			}
 }